<p>
  <b>User:</b>
  <%= project.user %>
</p>

<p>
  <b>Name:</b>
  <%= project.name %>
</p>

<table>
  <caption>Tasks</caption>
  <thead>
    <tr>
      <th>Feature</th>
      <th>Name</th>
      <th>User</th>
      <th>Priority</th>
      <th>Original estimate</th>
      <th>Current estimate</th>
      <th>Elapsed</th>
      <th>Remain</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= render project.tasks %>
  </tbody>
</table>

<%= link_to 'Add task', new_project_task_path(project) %> |
<%= link_to 'Edit', edit_project_path(project) %> |
<%= link_to 'Back', projects_path %>
