<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= project.user %>
</p>

<p>
  <b>Name:</b>
  <%= project.name %>
</p>

<p>
  <b>Tasks:</b>
</p>

<table>
  <caption>Tasks</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Feature</th>
      <th>User</th>
      <th>Priority</th>
      <th>Original estimate</th>
      <th>Current estimate</th>
      <th>Elapsed</th>
      <th>Remain</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% project.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.feature %></td>
      <td><%= task.user %></td>
      <td><%= task.priority %></td>
      <td><%= task.original_estimate %></td>
      <td><%= task.current_estimate %></td>
      <td><%= task.elapsed %></td>
      <td><%= task.remain %></td>
      <td><%= link_to 'Show', task %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add task', new_project_task_path(project) %> |
<%= link_to 'Edit', edit_project_path(project) %> |
<%= link_to 'Back', projects_path %>
